{% extends 'hello/layout.html' %}
{% block body %}

<!-- <h1>Homepage</h1> -->

<div id="box">
    <h2>Quota System Login Page</h2>
    <table class="container">
        <tr>
            <td>
                <a href="{% url 'users:login' %}">
                    <button class="button">User</button>
                </a>
            </td>
            <td>
                <a href="{% url 'admin:index' %}">
                    <button class="button">Admin</button>
                </a>
            </td>
        </tr>
    </table>
    
    
</div>

{% endblock %}